<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>리뷰 수정</title>
  <style>
    #field-error {
      color: red;
      margin-top: 5px;
    }

    .star {
      font-size: 60px;
      color: #ead161;
    }
  </style>
</head>
<div class="main" layout:fragment="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card shadow rounded-2">
          <div class="card-header">
            <h2 class="mt-5 mb-2 text-center"
                style="font-weight:700; color: #0a58ca">
              리뷰 수정 페이지</h2>
          </div>
          <div class="card-body">
            <form method="post" th:action="@{/users/me/review/edit}"
                  th:object="${requiredEditReview}">
              <div class="mb-3 d-flex justify-content-center star-box">
                <i class="bi bi-star mx-2 star" id="star1"></i>
                <i class="bi bi-star mx-2 star" id="star2"></i>
                <i class="bi bi-star mx-2 star" id="star3"></i>
                <i class="bi bi-star mx-2 star" id="star4"></i>
                <i class="bi bi-star mx-2 star" id="star5"></i>
              </div>
              <div class="mb-3">
                <div class="form-floating">
              <textarea class="form-control" id="contents" name="contents" placeholder="리뷰를 남겨주세요" style="height: 100px"
                        th:field="*{contents}"
                        th:name="contents" th:text="*{contents}"></textarea>
                  <label for="contents">리뷰를 남겨주세요</label>
                  <div id="field-error" th:errors="*{contents}" th:if="${#fields.hasErrors('contents')}"></div>
                </div>
                <input id="ratings" name="ratings" th:name="ratings" th:value="*{ratings}" type="hidden">
                <input th:name="id" th:value="*{id}" type="hidden">
              </div>
              <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-primary" id="btnSubmit">WRITE</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', () => {
      let stars = document.querySelectorAll('.star');
      let ratingsInput = document.getElementById('ratings');

      const ratingsInit = [[${requiredEditReview.ratings}]];

      stars.forEach((star, index) => {
        if (index < ratingsInit) {
          star.classList.remove('bi-star');
          star.classList.add('bi-star-fill');
        }

        star.addEventListener('click', () => {
          const total = Array.from(star.parentNode.children).indexOf(star);

          stars.forEach((star, index) => {
            if (index <= total) {
              star.classList.remove('bi-star');
              star.classList.add('bi-star-fill');
            } else {
              star.classList.remove('bi-star-fill');
              star.classList.add('bi-star');
            }
            ratingsInput.value = total + 1;
          });
        });
      });
    });
  </script>
</div>
</html>