<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <title>Anchor-service</title>
  <script src="/js/jquery-3.7.1.min.js"></script>
</head>

<div layout:fragment="content" class="main">
  <h2 style="text-align: center;">회원 정보 조회 페이지</h2>
  <div class="container mt-4">
    <hr>
    <div>
      <div class="row justify-content-center">
        <div class="p-5 d-flex justify-content-center text-center">
          <div class="col-sm-6">
            <!--프로필사진-->
            <div>
              <div class="card text-center">
                <div class="card-header">
                  프로필 이미지
                </div>

                <!--기존 이미지-->
                <div id="current-profile-image" class="mt-3">
                  <div class="profile">
                    <th:block th:if="${userInfo.image==null}">
                      <img src="https://anchor-image-stroage.s3.ap-northeast-2.amazonaws.com/%EA%B3%A0%EC%8A%B4%EB%8F%84%EC%B9%98_1704431943574.jpg"
                           id="userProfileImage" width="200px">
                    </th:block>
                    <th:block th:unless="${userInfo.image==null}">
                      <img th:src="${userInfo.image}" id="userProfileImage" width="200px">
                    </th:block>
                  </div>
                </div>

                <!--새로운 이미지-->
                <div id="new-profile-image" class="mt-3"></div>

                <div class="card-body">
                  <div class="input-group">
                    <input th:type="file" class="form-control" id="imageUpload" name="profileImageUrl">
                  </div>
                  <div id="new-profile-image-control" class="mt-3 d-grid gap-2">
                    <button class="btn btn-outline-success" id="btn-saveImage">프로필 사진 변경</button>
                  </div>
                </div>
              </div>
            </div>

            <!--이메일-->
            <div class="form-group row justify-content-center mt-5">
              <label for="email" class="col-sm-2 col-form-label text-end">계정 </label>
              <div class="col-sm-4">
                <span id="email" name="email" class="form-control-plaintext text-start" th:text="${userInfo.email}"></span>
              </div>
            </div>

            <!--닉네임-->
            <div class="form-group row justify-content-center mt-2">
              <label for="nickname" class="col-sm-2 col-form-label text-end">닉네임</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="nickname" name="nickname" th:value="${userInfo.nickname}">
              </div>
            </div>

            <!--역할-->
            <div class="form-group row justify-content-center mt-2">
              <label for="isMentor" class="col-sm-2 col-form-label text-end">역할 </label>
              <div class="col-sm-4">
                <span id="isMentor" class="form-control-plaintext text-start" th:text="${userInfo.mentor != null ? '멘토' : '멘티'}"></span>
              </div>
            </div>

            <!--버튼-->
            <div class="text-center mt-5">
              <button class="btn btn-primary" id="btn-update">정보 수정</button>
              <button class="btn btn-danger" id="btn-delete">회원 탈퇴</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <script th:inline="javascript">
    let imgUrl = null;

    let index = {
      init: function () {
        $("#btn-update").on("click", () => {
          this.update();
        });
        $("#btn-delete").on("click", () => {
          this.delete();
        });
        $("#imageUpload").on("change", () => {
          this.uploadImage();
        });
        $("#btn-saveImage").on("click", () => {
          this.saveImage(imgUrl);
        });
      },

      /*이미지 업로드*/
      uploadImage: function () {
        let formData = new FormData();
        let imageFile = $("#imageUpload")[0].files[0];
        formData.append("image", imageFile);
        $.ajax({
          type: "POST",
          url: "/image/upload",
          data: formData,
          contentType: false,
          processData: false,
          success: function (response) {
            imgUrl = response;
            console.log(response.imageUrl);
            let tempHtml = "";
            if(response) {
              tempHtml = `<img src='${response.imageUrl}' id='updateProfileImage' width='200px'>`;
              $("#current-profile-image").hide(); // 기존 이미지 숨기기
            }
            $("#new-profile-image").html(tempHtml); // 임시로 html에 넣어주기
          },
          error: function (error) {
          }
        });
      },

      /*이미지url user테이블에 저장*/
      saveImage: function (data) {
        let image = $("#uploadedImageUrl").val();
        console.log(image);
        $.ajax({
          type: "PUT",
          url: "/users/me/image",
          data: JSON.stringify({"image":data.imageUrl}),
          contentType: "application/json; charset=utf-8",
          success: function (response) {
            alert("프로필 이미지가 성공적으로 업데이트되었습니다.");
            location.href="/users/me";
          },
          error: function (error) {
            alert("이미지 저장 실패");
          }
        });
      },

      /*정보 수정*/
      update: function(){
        console.log("click");
        let data = {
          email:$("#email").val(),
          nickname:$("#nickname").val()
        };
        $.ajax({
          type: "put",
          url: "/users/me",
          data: JSON.stringify(data),
          contentType: "application/json; charset=utf-8",
        }).done(function (resp) {
          if(resp.status===500){
            alert("회원정보수정을 실패했습니다.");
          } else {
            alert("회원정보수정을 성공했습니다.");
            location.href="/users/me";
          }
        }).fail(function (error) {
          alert(JSON.stringify(error));
        });
      },


      /*회원 탈퇴*/
      delete: function(){
        let data = {
          email:$("#email").val()
        };
        $.ajax({
          type: "delete",
          url: "/users/me",
          data: JSON.stringify(data),
          contentType: "application/json; charset=utf-8",
        }).done(function (resp) {
          if(resp.status===500){
            alert("회원 탈퇴 실패");
          } else {
            alert("회원 탈퇴 성공");
            location.href="/users/me";
          }
        }).fail(function (error) {
          alert("신청한 멘토링을 모두 취소 후 회원탈퇴가 가능합니다.");
          location.href="/users/me/applied-mentorings";
        });
      },
    }

    index.init();
  </script>
</div>

</html>