<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>멘토링 신청내역</title>
  <meta charset="UTF-8">
  <style>
    .mentor-title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  </style>
  <script src="/js/library/axios/axios.min.js"></script>
</head>
<body>
<div layout:fragment="content">
  <div th:replace="~{fragments/sidebar/info-sidebar::sidebar}"></div>
  <div class="d-flex justify-content-center">
    <div class="mx-auto" id="table-container" style="height:82vh; width: 60vw">
      <div class="card border d-flex justify-content-center mb-5 border-success-subtle border-3">
        <h2 class="text-center">멘토링 신청내역</h2>
      </div>
      <table class="table table-hover mb-3 " id="application-list"
             style="margin: 0 auto 0 auto; table-layout: fixed">
        <thead class="table-light">
        <tr class="text-center">
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">멘토</th>
          <th scope="col">멘토 이메일</th>
          <th scope="col">결제금액</th>
          <th scope="col">신청 시간</th>
          <th scope="col">상태</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="app: ${mentoringApplications}">
          <th class="align-middle" scope="col" th:text="${appStat.count}"></th>
          <td class="align-middle mentor-title">
            <a class="text-black" th:href="@{/mentorings/{id}(id=${app.mentoringInfo.id})}"
               th:text="${app.mentoringInfo.title}"></a>
          </td>
          <td class="align-middle">
            <span th:text="${app.mentorInfo.nickname}"></span>
            <img alt="" class="rounded-circle" height="32" th:src="${app.mentorInfo.image}" width="32">
          </td>
          <td class="align-middle" th:text="${app.mentorInfo.email}"></td>
          <td class="align-middle" th:text="${#numbers.formatInteger(app.paymentInfo.amount,3,'COMMA')}+'원'"></td>
          <td class="align-middle ma"
              th:id="${app.mentoringApplicationInfo.dateTimeRange.from} + ' ' + ${app.mentoringApplicationInfo.dateTimeRange.to}">
          <span>
            [[${app.mentoringApplicationInfo.dateTimeRange.from.toString().replace("T", " ")}]] ~
            [[${app.mentoringApplicationInfo.dateTimeRange.to.toString().replace("T", " ")}]]
          </span>
          </td>
          <td class="align-middle" th:id="status">
            <div class="btn-group d-flex justify-content-center">
              <th:block
                  th:if="${app.mentoringApplicationInfo.status == '완료' || app.mentoringApplicationInfo.status == '취소'}">
                <th:block th:if="${app.mentoringApplicationInfo.status == '완료'}">
                  <form method="get" th:action="@{/users/me/review/edit}"
                        th:if="${app.mentoringApplicationInfo.hasReview}">
                    <input name="startTime" th:value="${app.mentoringApplicationInfo.dateTimeRange.from}"
                           type="hidden">
                    <input name="endTime" th:value="${app.mentoringApplicationInfo.dateTimeRange.to}" type="hidden">
                    <button class="btn btn-outline-success">
                      리뷰 수정
                    </button>
                  </form>
                  <form method="get" th:action="@{/users/me/applied-mentorings/review}"
                        th:unless="${app.mentoringApplicationInfo.hasReview}">
                    <input name="startTime" th:value="${app.mentoringApplicationInfo.dateTimeRange.from}"
                           type="hidden">
                    <input name="endTime" th:value="${app.mentoringApplicationInfo.dateTimeRange.to}" type="hidden">
                    <button class="btn btn-outline-success"
                            type="submit">
                      리뷰 작성
                    </button>
                  </form>
                </th:block>
                <span th:unless="${app.mentoringApplicationInfo.status == '완료'}">
                [[${app.mentoringApplicationInfo.status}]]
              </span>
              </th:block>
              <th:block
                  th:unless="${app.mentoringApplicationInfo.status == '완료' || app.mentoringApplicationInfo.status == '취소'}">
                <button aria-expanded="false" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                        th:id="dropdown-button" type="button">
                  [[${app.mentoringApplicationInfo.status}]]
                </button>
                <ul class="dropdown-menu">
                  <th:block th:if="${app.mentoringApplicationInfo.status} == '대기'">
                    <li class="dropdown-item" id="waiting">
                      <span class="current-status" th:if="${app.mentoringApplicationInfo.status} == '대기'">대기</span>
                      <span th:unless="${app.mentoringApplicationInfo.status} == '대기'">대기</span>
                    </li>
                    <li class="dropdown-item" id="cancel">
                      <span class="current-status" th:if="${app.mentoringApplicationInfo.status} == '취소'">취소</span>
                      <span th:unless="${app.mentoringApplicationInfo.status} == '취소'">취소</span>
                    </li>
                  </th:block>
                  <th:block th:if="${app.mentoringApplicationInfo.status} == '승인'">
                    <li class="dropdown-item" id="approval">
                      <span class="current-status" th:if="${app.mentoringApplicationInfo.status} == '승인'">승인</span>
                      <span th:unless="${app.mentoringApplicationInfo.status} == '승인'">승인</span>
                    </li>
                    <li class="dropdown-item" id="complete">
                      <span class="current-status" th:if="${app.mentoringApplicationInfo.status} == '완료'">완료</span>
                      <span th:unless="${app.mentoringApplicationInfo.status} == '완료'">완료</span>
                    </li>
                    <li class="dropdown-item" id="cancel">
                      <span class="current-status" th:if="${app.mentoringApplicationInfo.status} == '취소'">취소</span>
                      <span th:unless="${app.mentoringApplicationInfo.status} == '취소'">취소</span>
                    </li>
                  </th:block>
                </ul>
              </th:block>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        </ul>
      </nav>
    </div>
    <div class="col-md-3">
      <div class="d-flex justify-content-start">
        <button class="btn btn-primary" id="save-button" type="button">저장하기</button>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    console.log([[${mentoringApplications}]])

    let currentPage = parseInt(new URLSearchParams(location.search).get("page")) || 1;
    currentPage = currentPage < 1 ? 1 : currentPage
    const pagenation = document.querySelector('.pagination')

    const createPage = (totalPage, currentPage, content, page) => {
      const isPrevDisable = currentPage === 1 && content === "Prev"
      const isCurrentDisable = currentPage === page
      const isPageDisable = totalPage < page
      const li = document.createElement("li")
      const a = document.createElement("a")
      li.classList.add("page-item")
      a.classList.add("page-link")
      a.href = `?page=${page}`
      a.textContent = content
      if (isPrevDisable || isCurrentDisable || isPageDisable) {
        li.classList.add("disabled")
      }
      li.appendChild(a)
      return li
    }

    const totalPage = [[${mentoringApplications.getSize()}]]
    pagenation.appendChild(createPage(totalPage, currentPage, "Prev", currentPage - 1))
    if (totalPage === 2) {
      if (currentPage === 1) {
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage, currentPage))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage + 1, currentPage + 1))
      } else {
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage - 1, currentPage - 1))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage, currentPage))
      }
    } else if (totalPage > 2) {
      if (currentPage === 1) {
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage, currentPage))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage + 1, currentPage + 1))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage + 2, currentPage + 2))
      } else if (currentPage === totalPage) {
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage - 2, currentPage - 2))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage - 1, currentPage - 1))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage, currentPage))
      } else {
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage - 1, currentPage - 1))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage, currentPage))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage + 1, currentPage + 1))
      }
    }
    pagenation.appendChild(createPage(totalPage, currentPage, "Next", currentPage + 1))

    const appList = document.querySelector('#application-list')
    const apps = appList.querySelectorAll('tbody tr')
    const addEvent = (ma, approval, cancel, waiting, complete, dropdownButton) => {
      if (cancel !== null) {
        cancel.addEventListener('click', () => {
          dropdownButton.textContent = ' 취소 '
          if (!cancel.querySelector('span').classList.contains('current-status')) {
            dropdownButton.classList.add('border')
            dropdownButton.classList.add('border-primary')
            ma.classList.add('changed')
          } else {
            dropdownButton.classList.remove('border')
            dropdownButton.classList.remove('border-primary')
            ma.classList.remove('changed')
          }
        })
      }

      if (complete !== null) {
        complete.addEventListener('click', () => {
          dropdownButton.textContent = ' 완료 '
          if (!complete.querySelector('span').classList.contains('current-status')) {
            dropdownButton.classList.add('border')
            dropdownButton.classList.add('border-primary')
            ma.classList.add('changed')
          } else {
            dropdownButton.classList.remove('border')
            dropdownButton.classList.remove('border-primary')
            ma.classList.remove('changed')
          }
        })
      }

      if (approval !== null) {
        approval.addEventListener('click', () => {
          dropdownButton.textContent = ' 승인 '
          if (!approval.querySelector('span').classList.contains('current-status')) {
            dropdownButton.classList.add('border')
            dropdownButton.classList.add('border-primary')
            ma.classList.add('changed')
          } else {
            dropdownButton.classList.remove('border')
            dropdownButton.classList.remove('border-primary')
            ma.classList.remove('changed')
          }
        })
      }
      if (waiting !== null) {
        waiting.addEventListener('click', () => {
          dropdownButton.textContent = ' 대기 '
          if (!waiting.querySelector('span').classList.contains('current-status')) {
            dropdownButton.classList.add('border')
            dropdownButton.classList.add('border-primary')
            ma.classList.add('changed')
          } else {
            dropdownButton.classList.remove('border')
            dropdownButton.classList.remove('border-primary')
            ma.classList.remove('changed')
          }
        })
      }
    }

    const saveButton = document.querySelector('#save-button')
    saveButton.addEventListener('click', () => {
      const json = {requiredMentoringStatusInfos: []}
      for (const app of apps) {
        const ma = app.querySelector('.ma')
        if (ma.classList.contains('changed')) {
          const maInfo = ma.id.split(' ')
          const from = maInfo[0] + ':00';
          const to = maInfo[1] + ':00';
          let status = app.querySelector('#dropdown-button').textContent.trim()
          status = status === '완료' ? 'COMPLETE' : 'CANCELLED'
          json.requiredMentoringStatusInfos.push({
            mentoringReservedTime: {
              from: from,
              to: to
            },
            mentoringStatus: status
          })
        }
      }
      console.log(json)
      axios.put("/users/me/applied-mentorings", json)
      .then(res => {
        if (res.status === 200) {
          alert('성공했습니다.')
          window.location.reload();
        }
      })
      .catch(error => {
        console.log(error)
      })
    })

    for (const app of apps) {
      const ma = app.querySelector('.ma')
      const approval = app.querySelector('#approval')
      const cancel = app.querySelector('#cancel')
      const waiting = app.querySelector('#waiting')
      const complete = app.querySelector('#complete')
      const dropdownButton = app.querySelector('#dropdown-button')
      addEvent(ma, approval, cancel, waiting, complete, dropdownButton)
    }
  </script>
</div>
</body>
</html>