<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <title>Layout page</title>
  <meta content="no-referrer" name="referrer"/>
  <link href="/css/library/bootstrap/bootstrap.css" rel="stylesheet">
  <script
      crossorigin="anonymous"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="/js/library/axios/axios.min.js"></script>
  <link href="/css/bootstrap-icons.min.css" rel="stylesheet">
  <script src="/js/library/jquery/jquery-3.7.1.min.js"></script>
  <style>
    .toast-bottom-right {
      top: 80px;
    }
  </style>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="main-container" layout:fragment="content"></div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="/js/library/bootstrap/bootstrap.bundle.js"></script>
<script src="/js/payment-timeout.js"></script>

<script sec:authorize="isAnonymous()">
  const notiBadge = document.querySelector('#noti-badge');

  /* (isRead > 0) 인지 체크 */
  axios.get("/api/notifications/count")
  .then(res => {
    console.log(res)
    if (res.status === 200 && res.data > 0) {
      notiBadge.classList.remove("hidden")
    }
  })
  .catch(error => {
    console.log(error)
  })

  toastr.options.positionClass = "toast-bottom-right";
  const eventSource = new EventSource('http://localhost:8080/api/notifications/connect');
  eventSource.addEventListener('sse', event => {
    if (event.data.message !== undefined) {
      toastr.info(event.data.message);
      notiBadge.classList.remove("hidden")
    }
  });
</script>
</body>
</html>