<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <title>Anchor-service</title>
  <link href="/css/library/toast/toastui-editor.min.css" rel="stylesheet"/>
</head>
<body>
<div class="d-flex flex-column justify-content-center" layout:fragment="content">
  <div class="row">
    <div class="col-md-3">
      <div th:replace="~{fragments/sidebar/info-sidebar::sidebar}"></div>
    </div>
    <div class="col-md-9">
      <!-- 에디터를 적용할 요소 (컨테이너) -->
      <div class="w-75" id="editor-container">
        <h2 class="border rounded border-dark-subtle p-2 fs-3 fw-semibold" id="title" style="text-align: center;">멘토
          소개글</h2>
        <div id="content">
        </div>
        <button class="w-100 btn btn-primary" id="submit-btn" type="button">제출하기</button>
      </div>
    </div>
  </div>
  <!-- TUI 에디터 JS CDN -->
  <script src="/js/library/toast/toastui-editor-all.min.js"></script>

  <script th:inline="javascript">
    const submitButton = document.querySelector('#submit-btn');
    const editor = new toastui.Editor({
      el: document.querySelector('#content'), // 에디터를 적용할 요소 (컨테이너)
      height: '800px',                        // 에디터 영역의 높이 값 (OOOpx || auto)
      initialEditType: 'markdown',            // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
      initialValue: [[${mentorContents.contents}]],                       // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
      previewStyle: 'vertical',               // 마크다운 프리뷰 스타일 (tab || vertical)
      placeholder: '내용을 입력해 주세요.',
      hooks: {
        async addImageBlobHook(blob, callback) { //  (업로드한 이미지를 Blob 형태로 변환, 이미지 업로드 이후 본문에 저장되는 데이터를 지정해주는 콜백함수)
          const formData = new FormData();
          formData.append('image', blob);

          axios.post("/image/upload", formData)
          .then((res) => {
            if (res.status === 200) {
              callback(res.data.imageUrl, 'image');
            }
          })
          .catch((error) => {
            console.error('업로드 중 오류가 발생했습니다.', error);
          });
        },
      }
    });
    const submit = (axios, editor) => {
      console.log(editor.getHTML())
      const json = {
        contents: editor.getHTML(),
      }
      const currentPath = window.location.pathname
      const path = currentPath.substring(0)
      const mentorId = [[${session.user.mentorId}]]
      axios.put(path, json)
      .then((res) => {
        if (res.status === 200) {
          // 'links' 배열이 존재하고, 배열인지 확인
          if (Array.isArray(res.data.links)) {
            for (const link of res.data.links) {
              if (link.rel === "self") {
                window.location.href = link.href;
                return;
              }
            }
          }
          window.location.href = "/mentors/" + mentorId;
        } else {
          alert('url이 반환되지 않았습니다.')
        }
      })
      .catch((error) => {
        console.error('PUT 요청 중 오류가 발생했습니다.', error);
        alert('PUT 요청 중에 문제가 발생했습니다.')
      });
    }

    const submitEvent = (axios, submitButton, editor, submit) => {
      submitButton.addEventListener('click',
          () => submit(axios, editor));
    }
  </script>
</div>
</body>

</html>