<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <title>멘토 스케줄 페이지</title>
</head>
<body>
<div class="d-flex justify-content-center" layout:fragment="content">
  <div>
    <input autocomplete="off" class="btn-check" name="tag"
           th:id="'btn-check-outlined '+${tagStat.count}"
           type="checkbox">
    <label class="btn btn-outline-primary mx-2 mb-1" th:for="'btn-check-outlined '+${tagStat.count}"
           th:text="${tag}">자바</label>
  </div>
</div>
</body>
</html>