<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>멘토 신청 페이지</title>
  <meta charset="UTF-8">
  <script src="/js/library/jquery/jquery-3.7.1.min.js"></script>
</head>
<div layout:fragment="content">
  <div class="row justify-content-center">

    <div class="col-3">
      <div th:replace="~{fragments/sidebar/info-sidebar::sidebar}"></div>
    </div>

    <div class="col-6 d-flex justify-content-center">

      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-center mt-2 mb-2">멘토 등록 페이지</h2>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center">
          <form id="register-form">
            <div class="input-group mb-3">
              <label class="input-group-text" for="companyEmail">이메일</label>
              <input class="form-control" id="companyEmail" name="companyEmail" placeholder="companyEmail" type="email">
              <button class="btn btn-outline-primary" id="email-send-button">이메일 발송</button>
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="emailCheck">이메일 인증</label>
              <input class="form-control" id="emailCheck" name="emailCheck" placeholder="emailCheck" type="text">
              <button class="btn btn-outline-success" id="email-auth-button">이메일 인증</button>
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="career">경력</label>
              <select class="form-select" id="career" name="career">
                <option selected>Choose..</option>
                <option name="career" th:each="career :${careers}"
                        th:text="${career.rangeOfYear}" th:value="${career.name}"></option>
              </select>
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="bankName">은행명</label>
              <select class="form-select" id="bankName" name="bankName">
                <option selected>Choose..</option>
                <option th:each="bankcode : ${bankCodes}" th:text="${bankcode.bankName}"
                        th:value="${bankcode.bankName}"></option>
              </select>
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="accountNumber">계좌번호</label>
              <input class="form-control" id="accountNumber" name="accountNumber" placeholder="계좌번호를 입력하세요."
                     type="text">

            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="accountName">예금주 명</label>
              <input class="form-control" id="accountName" name="accountName" placeholder="예금주 명을 입력하세요." type="text">
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-success" id="submit-button">제출</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-3"></div>
  </div>
  <script>
    let emailVerified = false;
    let bankName = document.getElementById('bankName');
    let accountNumber = document.getElementById('accountNumber');
    let accountName = document.getElementById('accountName');
    let emailSendButton = document.getElementById('email-send-button');
    let emailAuthButton = document.getElementById('email-auth-button');
    let companyEmailInput = document.getElementById('companyEmail');
    let emailAuthCode = document.getElementById('emailCheck');
    emailSendButton.addEventListener('click', () => {
      let companyEmail = companyEmailInput.value;
      axios.post('/mentors/register/email/send', {
        receiver: companyEmail
      }).then(response => {
        let result = response.data;
        if (result === 'SUCCESS') {
          alert('이메일을 전송하였습니다. 메일을 확인해주세요.');
        } else {
          alert('이메일 전송에 실패하였습니다. 이메일을 다시 입력해주세요.');
        }
      }).catch(error => alert(error.message));
    });

    emailAuthButton.addEventListener('click', () => {
      let authCode = emailAuthCode.value;
      axios.post('/mentors/register/email/auth', {
        userEmailCode: authCode
      }).then(response => {
        let result = response.data;
        if (result === 'SUCCESS') {
          alert('인증에 성공하였습니다.');
          emailVerified = true;
          companyEmailInput.readOnly = true;
          emailAuthCode.readOnly = true;
          emailSendButton.disabled = true;
          emailAuthButton.disabled = true;
        } else {
          alert('인증에 실패하였습니다. 다시 확인해주세요.');
        }
      }).catch(error => alert(error.message));
    });

    document.getElementById('submit-button').addEventListener('click', () => {
      let validationResult = validateInputValue();
      if (validationResult) {
        axios.post('/mentors', {
          companyEmail: companyEmailInput.value,
          career: document.getElementById('career').value,
          bankName: bankName.value,
          accountNumber: accountNumber.value,
          accountName: accountName.value
        })
        .then(res => {
          let result = res.data;
          if (result === 'SUCCESS') {
            location.href = '/';
          }
        }).catch(error => {
          let errorBody = error.response.data;
          alert(errorBody.error.message);
        })
      }
    });

    function validateInputValue() {
      let careerSelectedIndex = document.getElementById('career').selectedIndex;
      let bankNameSelectedIndex = document.getElementById('bankName').selectedIndex;

      if (companyEmailInput.value === '') {
        alert('이메일 입력을 필수입니다.');
        return false;
      }
      if (emailVerified === false) {
        alert('이메일 인증은 필수입니다.');
        return false;
      }
      if (careerSelectedIndex === 0) {
        alert('경력 선택은 필수입니다.');
        return false;
      }
      if (bankNameSelectedIndex === 0) {
        alert('은행 선택을 필수입니다.');
        return false;
      }
      if (accountNumber.value === '') {
        alert('계좌번호 입력은 필수입니다.');
        return false;
      }

      if (accountName.value === '') {
        alert('예금주명 입력을 필수입니다.');
        return false;
      }
      return true;
    }
  </script>
</div>
</html>