<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>멘토 신청 페이지</title>
  <meta charset="UTF-8">
  <script src="/js/library/jquery/jquery-3.7.1.min.js"></script>
</head>
<div layout:fragment="content">
  <div class="row justify-content-center">

    <div class="col-3">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="/">
          <svg class="bi pe-none me-2" height="32" width="40">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a aria-current="page" class="nav-link link-body-emphasis" th:href="@{/users/me}">
              <svg class="bi pe-none me-2" height="16" width="16">
                <use xlink:href="#home"></use>
              </svg>
              내 프로필
            </a>
          </li>
          <li>
            <a class="nav-link link-body-emphasis" th:href="@{/users/me/applied-mentorings}">
              <svg class="bi pe-none me-2" height="16" width="16">
                <use xlink:href="#speedometer2"></use>
              </svg>
              멘토링 신청내역
            </a>
          </li>
          <li th:if="${session.user.mentorId eq null}">
            <a class="nav-link active" th:href="@{/mentors/register}">
              <svg class="bi pe-none me-2" height="16" width="16">
                <use xlink:href="#speedometer2"></use>
              </svg>
              멘토 신청
            </a>
          </li>
        </ul>
        <hr>
      </div>
    </div>

    <div class="col-6 d-flex justify-content-center">

      <div class="card" style="width:400px;">
        <div class="card-body d-flex justify-content-center align-items-center">
          <form action="/mentors" method="post">
            <h2 class="text-center">멘토 등록 페이지</h2>
            <hr>
            <div class="input-group mb-3">
              <label class="input-group-text" for="companyEmail">이메일</label>
              <input class="form-control" id="companyEmail" name="companyEmail" placeholder="companyEmail" type="email">
              <button class="btn btn-outline-primary" id="btnEmailSend">이메일 발송</button>
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="emailCheck">이메일 인증</label>
              <input class="form-control" id="emailCheck" name="emailCheck" placeholder="emailCheck" type="text">
              <button class="btn btn-outline-success" id="btnEmailCheck">이메일 인증</button>
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="career">경력</label>
              <select class="form-select" id="career" name="career">
                <option selected>Choose..</option>
                <option name="career" th:each="career :${careers}"
                        th:text="${career.rangeOfYear}" th:value="${career.name}"></option>
              </select>
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="bankName">은행명</label>
              <select class="form-select" id="bankName" name="bankName">
                <option selected>Choose..</option>
                <option th:each="bankcode : ${bankCodes}" th:text="${bankcode.bankName}"
                        th:value="${bankcode.bankName}"></option>
              </select>
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="accountNumber">계좌번호</label>
              <input class="form-control" id="accountNumber" name="accountNumber" placeholder="계좌번호를 입력하세요."
                     type="text">

            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="accountName">예금주 명</label>
              <input class="form-control" id="accountName" name="accountName" placeholder="예금주 명을 입력하세요." type="text">
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-outline-success" id="btnSubmit">제출</button>
            </div>
          </form>
        </div>
      </div>


    </div>
    <div class="col-3"></div>
  </div>
  <script>
    let emailVerified = false;
    const bankName = $("#bankName");
    $("#btnEmailSend").on("click", function (e) {
      $.ajax({
        url: "/mentors/register/email/send",
        data: {
          receiver: $("#companyEmail").val(),
        },
        method: "post",
        success: function (data) {
          console.log(data);
          if (data === "success") {
            alert("이메일을 전송하였습니다.");
          } else {
            alert("이메일 전송에 실패하였습니다");
          }
        },
        complete: function (data) {
          console.log("complete");
          console.log(data);
        },
      });
      return false;
    });

    $("#btnEmailCheck").on("click", function (e) {
      $.ajax({
        url: "/mentors/register/email/auth",
        data: {
          userEmailCode: $("#emailCheck").val(),
        },
        method: "post",
        success: function (data) {
          console.log(data);
          if (data === "success") {
            alert("이메일 인증에 성공하였습니다.");
            emailVerified = true;
            // 나중에 이메일 쓴 칸도 readonly로 바꾸기
            $("#btnEmailSend").attr("disabled", true);
            $("#btnEmailCheck").attr("disabled", true);
          } else {
            alert("이메일 인증에 실패하였습니다.");
          }
        },
        complete: function (data) {
          console.log("complete");
          console.log(data);
        },
      });
      return false;
    });
    $("#btnSubmit").on("click", function (e) {
      if ($("#companyEmail").val() === "") {
        alert("이메일 입력은 필수사항이에요.");
        return false;
      }
      if (emailVerified === false) {
        alert("이메일 인증을 완료해주세요.");
        return false;
      }
      if ($(':selected[name="career"]:checked').length < 1) {
        alert("아직 경력을 입력하지 않으셨네요.");
        return false;
      }
      if (bankName.val() === "") {
        alert("본인 계좌의 은행명을 입력해주세요.");
        return false;
      }
      if (accountNumber.val() === "") {
        alert("본인 소유의 계좌번호를 입력해주세요.");
        return false;
      }
      if (accountName.val() === "") {
        alert("계좌 소유자의 이름을 입력해주세요.");
        return false;
      }
    });
  </script>
</div>
</html>