### default Profile ###
spring:
  profiles:
    active: local
    include:
      - oauth
      - session

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none

#  datasource:
#    url: jdbc:h2:mem:practical-test
#    username: sa
#    password:
#  h2:
#    console:
#      enabled: true