<header
    class="mb-4 border-bottom">
  <div
      class="mx-5 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
    <div class="col-md-3 mb-2 mb-md-0">
      <a class="d-inline-flex link-body-emphasis text-decoration-none" href="/">
        <div class="d-flex align-items-center">
          <img height="32" role="img" src="/images/logo.png" width="32">
          <span
              class="m-1 fs-4 fw-semibold">Anchor</span>
        </div>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a class="nav-link px-2 link-secondary" href="#">Home</a></li>
      <li><a class="nav-link px-2" href="#">Features</a></li>
      <li><a class="nav-link px-2" href="#">Pricing</a></li>
      <li><a class="nav-link px-2" href="#">FAQs</a></li>
      <li><a class="nav-link px-2" href="#">About</a></li>
    </ul>

    <div class="col-md-1 text-end" th:if="${session.user eq null}">
      <button class="btn btn-outline-primary me-2" id="header-login" th:if="${session.user eq null}" type="button">
        Login
      </button>
    </div>
    <div class="col-md-1 text-end" th:unless="${session.user eq null}">
      <button th:if="${session.user eq null}" class="btn btn-outline-primary me-2 position-relative" id="noti-button"
              onclick="location.href='/api/notifications'" sec:authorize="isAnonymous()"
              type="button">
        <svg class="bi bi-bell" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
             xmlns="http://www.w3.org/2000/svg">
          <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
        <span
            class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle hidden"
            id="noti-badge">
          <span class="visually-hidden">New alerts</span>
        </span>
      </button>
      <div class="dropdown">
        <a aria-expanded="false" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown"
           href="">
          <img alt="mdo" class="rounded-circle" height="32" th:src="${session.user.image}" width="32">
        </a>
        <ul class="dropdown-menu">
          <li><p class="dropdown-item" th:text="${session.user.nickname}"></p></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" th:href="@{/users/me}">내 프로필</a></li>
          <li><a class="dropdown-item" th:href="@{/users/me/applied-mentorings}">신청내역 조회</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<script sec:authorize="isAnonymous()">
  const notiBadge = document.querySelector('#noti-badge');
  axios.get("/api/notifications/count")
  .then(res => {
    console.log(res)
    if (res.status === 200 && res.data > 0) {
      notiBadge.classList.remove("hidden")
    }
  })
  .catch(error => {
    console.log(error)
  })
</script>


