<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="/js/library/jquery/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container">
  <form action="/mentors" method="post">
    <h2 style="font-weight:700; color:#fff; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;">
      🎀멘토 등록 페이지🎀</h2>
    <div>
      <label class="form-label" for="companyEmail">이메일</label>
      <input id="companyEmail" name="companyEmail" placeholder="companyEmail" type="email">
      <button id="btnEmailSend"
              style="background-color: rgb(255, 144, 202); color:white;">SEND EMAIL
      </button>
    </div>
    <div>
      <label class="form-label" for="emailCheck">이메일 인증</label>
      <input id="emailCheck" name="emailCheck" placeholder="emailCheck" type="text">
      <button id="btnEmailCheck"
              style="background-color: rgb(255, 144, 202); color:white;">VERIFY EMAIL
      </button>
    </div>

    <div>
      <label class="form-label"> 경력 <br>
        <input name="career" type="radio" value="JUNIOR"> 1~3년차 <br>
        <input name="career" type="radio" value="MIDDLE"> 4~6년차 <br>
        <input name="career" type="radio" value="SENIOR"> 7~9년차 <br>
        <input name="career" type="radio" value="LEADER"> 10년 이상
      </label>
    </div>
    <div>
      <label class="form-label">은행명
        <select id="bankName" name="bankName">
          <option value=''>-선택-</option>

          <option value='SC제일은행'>SC제일은행</option>

          <option value='경남은행'>경남은행</option>

          <option value='광주은행'>광주은행</option>

          <option value='국민은행'>국민은행</option>

          <option value='기업은행'>기업은행</option>

          <option value='농협중앙회'>농협중앙회</option>

          <option value='대구은행'>대구은행</option>

          <option value='부산은행'>부산은행</option>

          <option value='산업은행'>산업은행</option>

          <option value='상호신용금고'>상호신용금고</option>

          <option value='새마을금고'>새마을금고</option>

          <option value='수협중앙회'>수협중앙회</option>

          <option value='신한은행'>신한은행</option>

          <option value='신협중앙회'>신협중앙회</option>

          <option value='외환은행'>외환은행</option>

          <option value='우리은행'>우리은행</option>

          <option value='우체국'>우체국</option>

          <option value='전북은행'>전북은행</option>

          <option value='제주은행'>제주은행</option>

          <option value='하나은행'>하나은행</option>

          <option value='한국씨티은행'>한국씨티은행</option>

          <option value='홍콩상하이은행'>홍콩상하이은행</option>
        </select>
      </label>
    </div>
    <div>
      <label class="form-label" for="accountNumber">계좌번호
        <input id="accountNumber" name="accountNumber" placeholder="계좌번호를 입력하세요." type="text">
      </label>
    </div>
    <div>
      <label class="form-label" for="accountName">계좌 소유주</label>
      <input id="accountName" name="accountName" placeholder="계좌 소유주명을 입력하세요." type="text">
    </div>
    <div>
      <button id="btnSubmit"
              style="background-color: rgb(255, 144, 202); color:white;">submit
      </button>
    </div>
  </form>
</div>
</body>
<script>
  let emailVerified = false;
  const bankName = $("#bankName");
  $("#btnEmailSend").on("click", function (e) {
    $.ajax({
      url: "/mentors/register/email/send",
      data: {
        receiver: $("#companyEmail").val(),
      },
      method: "post",
      success: function (data) {
        console.log(data);
        if (data === "success") {
          alert("이메일을 전송하였습니다.");
        } else {
          alert("이메일 전송에 실패하였습니다");
        }
      },
      complete: function (data) {
        console.log("complete");
        console.log(data);
      },
    });
    return false;
  });

  $("#btnEmailCheck").on("click", function (e) {
    $.ajax({
      url: "/mentors/register/email/auth",
      data: {
        userEmailCode: $("#emailCheck").val(),
      },
      method: "post",
      success: function (data) {
        console.log(data);
        if (data === "success") {
          alert("이메일 인증에 성공하였습니다.");
          emailVerified = true;
          // 나중에 이메일 쓴 칸도 readonly로 바꾸기
          $("#btnEmailSend").attr("disabled", true);
          $("#btnEmailCheck").attr("disabled", true);
        } else {
          alert("이메일 인증에 실패하였습니다.");
        }
      },
      complete: function (data) {
        console.log("complete");
        console.log(data);
      },
    });
    return false;
  });
  $("#btnSubmit").on("click", function (e) {
    if ($("#companyEmail").val() === "") {
      alert("이메일 입력은 필수사항이에요.");
      return false;
    }
    if (emailVerified === false) {
      alert("이메일 인증을 완료해주세요.");
      return false;
    }
    if ($(':radio[name="career"]:checked').length < 1) {
      alert("아직 경력을 입력하지 않으셨네요.");
      return false;
    }
    if (bankName.val() === "") {
      alert("본인 계좌의 은행명을 입력해주세요.");
      return false;
    }
    if (accountNumber.val() === "") {
      alert("본인 소유의 계좌번호를 입력해주세요.");
      return false;
    }
    if (accountName.val() === "") {
      alert("계좌 소유자의 이름을 입력해주세요.");
      return false;
    }
  });
</script>
</html>