<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Document</title>
</head>
<body>
<div class="d-flex flex-column p-3 bg-body-tertiary shadow rounded" style="width: 280px; height: 50vh"
     th:fragment="sidebar">
  <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi pe-none me-2" height="32" width="40">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Sidebar</span>
  </span>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a aria-current="page" class="nav-link link-body-emphasis" th:href="@{/users/me}">
        <svg class="bi pe-none me-2" height="16" width="16">
          <use xlink:href="#home"></use>
        </svg>
        내 프로필
      </a>
    </li>
    <li>
      <a class="nav-link link-body-emphasis" th:href="@{/users/me/applied-mentorings}">
        <svg class="bi pe-none me-2" height="16" width="16">
          <use xlink:href="#speedometer2"></use>
        </svg>
        멘토링 신청내역
      </a>
    </li>
    <li th:if="${session.user.mentorId eq null}">
      <a class="nav-link link-body-emphasis" th:href="@{/mentors/register}">
        <svg class="bi pe-none me-2" height="16" width="16">
          <use xlink:href="#speedometer2"></use>
        </svg>
        멘토 신청
      </a>
    </li>

    <th:block th:unless="${session.user.mentorId eq null}">
      <p>
        <button aria-controls="collapseExample" aria-expanded="false" class="nav-link link-body-emphasis"
                data-bs-target="#collapseExample"
                data-bs-toggle="collapse" type="button">
          <svg class="bi pe-none me-2" height="16" width="16">
            <use xlink:href="#speedometer2"></use>
          </svg>
          멘토
        </button>
      </p>
      <div class="collapse show" id="collapseExample">
        <div class="card card-body">
          <ul class="nav nav-pills flex-column mb-auto">
            <li>
              <a class="nav-link link-body-emphasis" th:href="@{/mentors/{id}(id=${session.user.getMentorId})}">
                <svg class="bi pe-none me-2" height="16" width="16">
                  <use xlink:href="#speedometer2"></use>
                </svg>
                대시보드
              </a>
            </li>
            <li>
              <a class="nav-link link-body-emphasis" th:href="@{/mentors/me/schedule}">
                <svg class="bi pe-none me-2" height="16" width="16">
                  <use xlink:href="#speedometer2"></use>
                </svg>
                스케줄 설정
              </a>
            </li>
            <li>
              <a class="nav-link link-body-emphasis" th:href="@{/mentors/me/applied-mentorings}">
                <svg class="bi pe-none me-2" height="16" width="16">
                  <use xlink:href="#speedometer2"></use>
                </svg>
                신청 멘토링 관리
              </a>
            </li>
            <li>
              <a class="nav-link link-body-emphasis" th:href="@{/mentorings/new}">
                <svg class="bi pe-none me-2" height="16" width="16">
                  <use xlink:href="#speedometer2"></use>
                </svg>
                멘토링 생성
              </a>
            </li>
            <li>
              <a class="nav-link link-body-emphasis" th:href="@{/mentors/me/payup}">
                <svg class="bi pe-none me-2" height="16" width="16">
                  <use xlink:href="#speedometer2"></use>
                </svg>
                정산내역 조회
              </a>
            </li>
          </ul>
        </div>
      </div>
    </th:block>
  </ul>
  <hr>
</div>
</body>
</html>