<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>멘토링 결제</title>
  <meta charset="UTF-8">
  <script src="/js/library/axios/axios.min.js"></script>
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<div layout:fragment="content">

  <div class="container mt-4">
    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">결제할 멘토링 정보</h2>
            <hr>
            <p class="card-text" th:text="'제목 : '+${confirmInfo.mentoringInfo.mentoringTitle}">멘토링 제목: [멘토링제목]</p>
            <p class="card-text"
               th:text="'시간 : '+${confirmInfo.mentoringInfo.startDateTime +' ~ '+ confirmInfo.mentoringInfo.endDateTime}">
              멘토링 시간대: [멘토링시간대]</p>
            <p class="card-text"
               th:text="'금액 : '+${#numbers.formatInteger(confirmInfo.mentoringInfo.amount,3,'COMMA')}+' 원'">멘토링 금액:
              [멘토링금액]</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">구매자 정보</h2>
              <hr>
              <div class="input-group">
                <label class="input-group-text" for="user-nickname">닉네임</label>
                <input class="form-control" id="user-nickname" name="user-nickname"
                       readonly
                       th:value="${confirmInfo.buyerInfo.userNickname}" type="text">
              </div>
              <br/>
              <div class="input-group">
                <label class="input-group-text" for="user-email">이메일</label>
                <input class="form-control" id="user-email" name="user-email"
                       readonly th:value="${confirmInfo.buyerInfo.userEmail}" type="email">
              </div>
              <br/>
              <div class="input-group">
                <label class="input-group-text" for="user-tel">연락처</label>
                <input class="form-control" id="user-tel" name="tel" placeholder="전화번호를 입력하세요." type="tel">
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <p class="total-amount font-weight-bold" th:text="'최종 결제금액 : '+${confirmInfo.mentoringInfo.finalAmount}">
                최종 결제금액</p>
              <button class="btn btn-success pay-button justify-content-end" id="payment-button">결제하기</button>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-end mt-3 align-items-center">
          <div class="col-10"></div>
          <div class="col-2">
            <button class="btn btn-danger pay-button" id="cancel-button">취소</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script src="/js/mentoring/mentoring-payment.js"></script>
</div>
</html>