<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>멘토링 조회</title>
  <meta charset="UTF-8">
  <style>
    #card-container {
      transition: transform 0.2s, box-shadow 0.2s;
    }

    #card-container:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    a {
      text-decoration-line: none;
      color: black;
    }

    .clamp-lines {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2; /* 원하는 줄 수 */
      text-align: center;
    }

    h5 {
      margin: 0;
    }
  </style>
</head>
<div class="flex-column" layout:fragment="content">

  <!-- 왼쪽 사이드바 -->
  <div class="p-3 bg-body-tertiary shadow rounded border border-light-subtle"
       style="width: 300px; height: 50%;  position:fixed;">
    <form action="/mentorings" id="mentor-search" method="get">
      <div class="mb-3 me-1">
        <div class="input-group">
          <label for="keyword"></label>
          <input class="form-control" id="keyword" name="keyword" placeholder="멘토링 제목을 입력하세요." type="text">
          <button class="btn btn-success" th:text="'검색'" type="submit">search</button>
        </div>
      </div>

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button"
                    data-bs-target="#collapseOne"
                    data-bs-toggle="collapse" type="button">
              태그를 선택해주세요. (1개이상)
            </button>
          </h2>
          <div aria-labelledby="headingOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
               id="collapseOne">
            <div class="accordion-body">
              <th:block th:each="tag: ${mentoringSearchInfo.tags}">
                <input autocomplete="off" class="btn-check" name="tag"
                       th:id="'btn-check-outlined '+${tagStat.count}"
                       th:value="${tag.tagName}" type="checkbox">
                <label class="btn btn-outline-success mx-2 mb-1" th:for="'btn-check-outlined '+${tagStat.count}"
                       th:text="${tag.tagName}">자바</label>
              </th:block>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="d-flex justify-content-center" style="min-height: 600px">
    <div class="row row-cols-4" style="width: 60vw;">
      <div class="col-md-3 mb-3 card-box" style="max-height: 300px"
           th:each="mentoring: ${mentoringSearchInfo.mentoringInfos}" th:id="${mentoring.mentoringInfo.id}">
        <div class="card mb-2 shadow rounded" id="card-container" style="min-height: 300px; min-width: 80px">
          <!-- Title -->
          <div class="card-header clamp-lines d-flex justify-content-center align-items-center mb-2 mt-1 m-0"
               style="min-height: 80px; max-height: 80px;">
            <!--            <a class="text-decoration-none fs-5 text-center"-->
            <!--               th:href="@{/mentorings/{id}(id=${mentoring.mentoringInfo.id})}">-->
            <p class="clamp-lines fs-5" th:text="${mentoring.mentoringInfo.title}"></p>
            <!--            </a>-->
          </div>

          <div class="card-body d-flex flex-column text-center align-items-center">
            <!-- Career and Nickname -->
            <div class="h-50 d-flex flex-column justify-content-center" id="mentor-mentoring-info">
              <div class="pb-1 d-flex mb-3" id="mentor-career">
                <span class="fs-6" style="width: 48px">경력</span>
                <span class="mr-2 fs-6 text-success" style="font-size: 20px; width: 80px"
                      th:text="${mentoring.mentorInfo.career}"></span>
              </div>
              <div class="pb-1 d-flex" id="mentoring-info">
                <span class="fs-6" style="width: 48px">시간</span>
                <span class="mr-2 fs-6 text-success" style="font-size: 20px; width: 80px"
                      th:text="${#strings.replace(#strings.replace(mentoring.mentoringInfo.durationTime,'h','시간'),'m','분')}"></span>
              </div>
            </div>
            <div class="p-2 h-25  d-flex align-items-center mb-3" id="mentor-icon">
              <a class="z-3 p-2 d-flex gap-2 justify-content-center align-items-center bg-success-subtle"
                 style="border-radius: 4px; width: 132px;"
                 th:href="@{/mentors/{id}(id=${mentoring.mentorInfo.id})}">
                      <span class="fs-6 mr-2"
                            th:text="${mentoring.mentorInfo.mentorNickname}"></span>
                <img style="width: 28px; height: 28px; border-radius: 50%;"
                     th:src="@{${mentoring.mentorInfo.mentorImage}}">
              </a>
            </div>
            <!-- Tags -->
            <div class="d-flex flex-wrap align-items-center h-25">
              <th:block th:if="${mentoring.mentoringInfo.mentoringTags.isEmpty()}">
                <h5><span class="badge bg-secondary-subtle mx-1 mr-2">No Tags</span></h5>
              </th:block>
              <th:block th:unless="${mentoring.mentoringInfo.mentoringTags.isEmpty()}">
                <div th:each="tag, tagStat: ${mentoring.mentoringInfo.mentoringTags}">
                  <h5><span class="badge bg-success mx-1 mr-2" th:text="${tag}"></span></h5>
                </div>
              </th:block>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
      </ul>
    </nav>
  </div>

  <script th:inline="javascript">
    document.querySelectorAll('.card-box').forEach(box => boxEvent(box));

    function boxEvent(box) {
      box.addEventListener('click', (e) => {
        let card = e.target.closest('.card-box');
        console.log(card);
        if (card) {
          let mentorIcon = e.target.closest('#mentor-icon');
          if (mentorIcon) {
            mentorIcon.querySelector('a').click();
          }
          location.href = `mentorings/${card.id}`;
        }
      });
    }

    console.log([[${mentoringSearchInfo.mentoringInfos}]])

    let currentPage = parseInt(new URLSearchParams(location.search).get("page")) || 1;
    currentPage = currentPage < 1 ? 1 : currentPage
    const pagenation = document.querySelector('.pagination')

    const createPage = (totalPage, currentPage, content, page) => {
      const isPrevDisable = currentPage === 1 && content === "Prev"
      const isCurrentDisable = currentPage === page
      const isPageDisable = totalPage < page
      const li = document.createElement("li")
      const a = document.createElement("a")
      const newRequestParam = new URLSearchParams(location.search);
      newRequestParam.delete('page');
      newRequestParam.append('page', page);
      li.classList.add("page-item")
      a.classList.add("page-link")
      a.href = `?${newRequestParam.toString()}`
      a.textContent = content
      if (isPrevDisable || isCurrentDisable || isPageDisable) {
        li.classList.add("disabled")
      }
      li.appendChild(a)
      return li
    }

    const totalPage = [[${mentoringSearchInfo.mentoringInfos.getSize()}]]
    pagenation.appendChild(createPage(totalPage, currentPage, "Prev", currentPage - 1))
    if (totalPage === 2) {
      if (currentPage === 1) {
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage, currentPage))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage + 1, currentPage + 1))
      } else {
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage - 1, currentPage - 1))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage, currentPage))
      }
    } else if (totalPage > 2) {
      if (currentPage === 1) {
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage, currentPage))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage + 1, currentPage + 1))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage + 2, currentPage + 2))
      } else if (currentPage === totalPage) {
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage - 2, currentPage - 2))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage - 1, currentPage - 1))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage, currentPage))
      } else {
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage - 1, currentPage - 1))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage, currentPage))
        pagenation.appendChild(createPage(totalPage, currentPage, currentPage + 1, currentPage + 1))
      }
    }
    pagenation.appendChild(createPage(totalPage, currentPage, "Next", currentPage + 1))
  </script>
</div>
</html>