<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>멘토링 신청페이지</title>
  <meta charset="UTF-8">
  <script src="/js/axios.min.js"></script>
</head>
<div layout:fragment="content">
  <h1 th:text="${mentoringDefaultInfo.title}">멘토링 제목</h1>

  <form id="form" method="post" th:action="@{/mentorings/{id}/payment(id=${mentoringDefaultInfo.mentoringId})} ">
    <label for="date">날짜 선택:</label>
    <input id="date" name="date" type="date">
    <label for="time">시간 선택:</label>
    <input id="time" name="time" type="time">
    <input id="duration-time" name="durationTime" th:value="${mentoringDefaultInfo.durationTime}" type="hidden">
    <button class="btn btn-primary" id="submitButton" type="button">신청하기</button>
  </form>
  <script src="/js/mentoring-apply.js"></script>
</div>
</html>